@import "variables";

.page[data-path="bio"] .pageContent {

  @include introText;

  p {
    line-height: 1.4em;
  }

  a span {
    display: none;
  }

  p a img {
    width: 100%;
    max-width: unset;
  }

  .quote__text {
    white-space: nowrap;
    @include sm {
      font-size: 2.4em;
    }
  }

  @include md-up {
    p:first-child {
      margin-top: 1rem;
    }

    img {
      display: inline-block;
      margin: 0 auto 1rem;
      //width: 380px;
    }
  }
}
