@import "variables";

.page[data-path="bio"] .pageContent {

  // larger intro paragraph
  p:first-of-type {
    @include introText;
    font-weight: 700;
    margin: .5em 0;
  }

  // hide external link marker
  a span {
    display: none;
  }

  // full width image
  p a img {
    width: 100%;
    max-width: unset;
  }

  @include md-up {
    img {
      display: inline-block;
      margin: 0 auto 1rem;
    }
  }
}
