// colors
$accentColor: #ea4848;
$textColor: #2c3e50;
//$textColor: #414244;
$borderColor: #eaecef;
$codeBgColor: #282c34;

// layout
$widthPage: 720px;
$widthPage: 840px;
$widthHome: 940px;

// $font
$titleFont: 'Patua One', serif;
$bodyFont: 'Open Sans', sans;
$codeFont: 'Roboto Mono', monospaced;

// mixins
@mixin striped ($fg, $bg, $size: 8.49px) {
  background-image: linear-gradient(135deg, $fg 16.67%, $bg 16.67%, $bg 50%, $fg 50%, $fg 66.67%, $bg 66.67%, $bg 100%);
  background-size: $size $size;
}
